# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask application config
.env
config.py

# SQLite database
instance/
*.db
*.sqlite

# Migrations
migrations/

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Compiled files and build artifacts
*.egg
*.egg-info
dist/
build/