@import "fonts.css";
@import "colors.css";

.reflection-header {
    display: flex; /* Align items in a row */
    align-items: center; /* Vertically center the items */
}

.organizer-logo {
    height: calc(2em + 20px); /* Logo height 10px taller than the font size */
    margin-right: 10px; /* Space between logo and text */
}

.organizer-info {
    display: flex;
    flex-direction: column; /* Stack Creator and event name vertically */
    justify-content: center; /* Center text vertically relative to logo */
}

.event-title {
    margin-top: 10px; /* Space between the header and the event title */
    margin-bottom: 2px;
    text-align: left; /* Left-align the event title */
}

