{% extends "base.html" %}

{% block title %}{{ category.name }} - WPE Journal{% endblock %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <div>
        {% for event in events %}
        <div>
            <a href="{{ url_for('event_page', category=category.short_name, event_id=event.id) }}">
            <img src="{{ url_for('static', filename='uploads/thumbnails/' + event.thumbnail) }}" alt="Thumbnail for {{ event.name }}">
                <div>
                    <h3>{{ event.name }}</h3>
                    <div><small>{{ event.organizer.name }}</small></div>
                    <div><small>{{ event.date }}</small></div>
                    <div><small>{{ event.venue }}</small></div>
                    <div><small>{{ event.points }} pt/s</small></div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}

