{% extends "base.html" %}

{% block title %} {{ event.name }} - WPE Journal{% endblock %}

{% block content %}
    <div class="container" style="background-image: {{ event.thumbnail }};">
        <div class="reflection-header">
            <img src="{{ organizer.logo }}" alt="Organizer Logo" class="organizer-logo">
            <div class="organizer-info">
                <div><small>Organizer</small></div>
                <div class="creator">{{ event.organizer.name }}</div>
            </div>
        </div>
        <h1 class="event-title">{{ event.name }}</h1>
        <div><small>{{ date }}</small></div>
        <div><small>{{ event.venue }}</small></div>
        <div><small>{{ event.points }} pt/s</small></div>
    </div>
    <div>
        {{ event.reflection | safe }}
    </div>
    <div class="proof">
        {{ event.proof | safe }}
    </div>
{% endblock %}
